<h1 id="appName">Nombre aplicación Web</h1>
<md-card>
  <form [formGroup]="myForm">
    <div class="centerDiv">
      <md-input-container>
        <input mdInput type="text" placeholder="Nombre de usuario" [formControl]="myForm.get('username')" #username>
        <md-error>Campo requerido</md-error>
      </md-input-container>
    </div>
    <div class="centerDiv">
      <md-input-container>
        <input mdInput type="password" placeholder="Contraseña" [formControl]="myForm.get('password')" #password>
        <md-error>Campo requerido</md-error>
      </md-input-container>
    </div>
    <div class="centerBtn">
      <button md-raised-button color="primary" id="loginBtn" type="submit" (click)="login(username.value, password.value)" [routerLink]="['/dashboard']" [disabled]="!myForm.valid">Ingresar</button>
      <a md-button [routerLink]="['/signup']" [routerLinkActive]="['active']">Registrarse</a>
    </div>
  </form>
</md-card>
