md-card{
    width: 30%;
    margin: auto;
    margin-top: 3%;
    border-radius: 10px
}
md-input-container{
    width: 70%
}
.centerDiv{
    margin: auto;
    width: 100%;
    text-align: center
}
.centerBtn{
    margin: auto;
    text-align: center;
    width: 100%;
    padding-top: 3%
}
#loginBtn{
    border-radius: 3px;
}
#appName{
    margin-top: 5%;
    text-align: center;
    color: white
}