md-card{
    width: 30%;
    margin: auto;
    text-align: center;
    border-radius: 10px
}
md-input-container{
    margin: auto;
    width: 100%
}
#backBtn{
    background: transparent;
    color: white
}
table{
    width: 100%
}
input{
    margin-top: 0%
}
#btnContainer{
    margin-top: 5%
}
#center-img{
    margin: auto;
    height: 100%;
    width: 100%
}
img{
    border-radius: 8px
}
#captchaContainer{
    width: 50%
}
#captchaCard{
    width: 80%;
    background-color: #EDE7F6
}
#captchaPicture{
    width: 100%;
    height: 100%
}