<div>
  <button id="backBtn" md-button [routerLink]="['/login']"><md-icon>arrow_back</md-icon></button>
</div>
<md-card>
  Registro
  <form [formGroup]="signUpForm" (ngSubmit)="onSubmit(signUpForm.value)">
    <table>
      <tr>
        <td>
          <md-input-container>
            <input mdInput type="text" [formControl]="signUpForm.get('nameFormControl')" [(ngModel)]="user.firstName" name="name" placeholder="Nombre">
            <md-error>Debe ingresar su nombre para poder registrarse</md-error>
          </md-input-container>
        </td>
        <td>
          <md-input-container>
            <input mdInput type="text" [formControl]="signUpForm.get('lastNameFormControl')" [(ngModel)]="user.lastName" name="lastName" placeholder="Apellido">    
            <md-error>Debe ingresar su apellido para poder registrarse</md-error>    
          </md-input-container>
        </td>
      </tr>
      
    </table>
    
    <md-input-container>
      <input mdInput type="text" [formControl]="signUpForm.get('usernameFormControl')" [(ngModel)]="user.username" name="userName" placeholder="Nombre usuario">
      <md-error>Debe ingresar un nombre de usuario para poder registrarse</md-error>
      <!-- <div *ngIf="signUpForm.controls['usernameFormControl'].hasError('invalidPattern')">
        ingresa un patrón adecuado
      </div>   -->
    </md-input-container>

    <md-input-container>
      <input mdInput type="email" [formControl]="signUpForm.get('emailFormControl')" [(ngModel)]="user.email" name="email" placeholder="Email">
      <md-error>Debe ingresar su correo electrónico para poder registrarse</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput type="password" [formControl]="signUpForm.get('passwordFormControl')"[(ngModel)]="user.password" name="password" placeholder="Contraseña">
      <md-error>Debe ingresar una contraseña para poder registrarse</md-error>
    </md-input-container>

    <md-input-container>
      <input mdInput type="password" [formControl]="signUpForm.get('confirmPasswordFormControl')" placeholder="Vuelva a escribir su contraseña">
      <md-error>Por favor confirme su contraseña</md-error>
    </md-input-container>
    
    <md-card id="captchaCard">
      <div id="center-img" *ngIf="imgLoading; else loadingTemplate">
        <img id="captchaPicture" src="{{img}}">
        <button md-button type="button" (click)="rechargeTheCaptcha($event); $event.stopPropagation()"><md-icon>replay</md-icon></button>
      </div>
      <ng-template #loadingTemplate>
        <md-progress-bar
        class="example-margin"
        color="primary"
        mode="indeterminate"
        value="50"
        bufferValue="75">
    </md-progress-bar>
      </ng-template>
      <md-input-container id="captchaContainer">
        <input mdInput id="captchaInput" type="text" [formControl]="signUpForm.get('captchaFormControl')" 
        [(ngModel)]="answer" placeholder="Ingrese el texto de la imagen">
      </md-input-container>
    </md-card>

    <div id="btnContainer">
      <button md-raised-button color="primary" id="signupBtn" type="submit" [disabled]="!signUpForm.valid">Registrarse</button>
    </div>
  </form>
</md-card>