<md-sidenav-container class="container">
    <md-sidenav mode="side" #dasboardPanel class="dashboardPanel">
        Justin
    </md-sidenav>
    <div class="dasboardPanelContent">
        <button md-raised-button (click)="dasboardPanel.open()">Abrir Sidenav</button>
    </div>
</md-sidenav-container>
