/* You can add global styles to this file, and also import other style files */
@import url('https://fonts.googleapis.com/css?family=Roboto');
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
html, body{
    font-family: 'Roboto', sans-serif;
    background-image: url('./assets/blurred.png');
    margin: 0;
    height: 100%;
    width: 100%
}
